* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(138, 43, 226, .2);
  border: 1px solid black;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.blue-button {
  background-color: #0062FF;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.blue-button:hover {
  background-color: white;
  color: black;
}

/* INIZIO HEADER */
header {
  height: 960px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

header .header-top {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  z-index: 100;
}

nav {
  font-weight: 550;
}

header .header-top .col-header {
  justify-content: space-between;
}

header .header-top .col-header ul{
  width: calc(100%/3 - 1);
  margin: 3px;
}

header .header-top .col-header ul li {
  text-align: center;
  line-height: 75px;
}

header .header-top .col-header ul li a{
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 20px; 
}

header .header-top .col-header ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

header .header-top .col-header ul .no-line:hover {
  border-bottom: none;
}

header .header-top .col-header ul li #inizia{
  color: white;
}

header .header-top .col-header ul li #inizia:hover {
  background-color: white;
  color: black;
}

header .jumbotron {
  padding-top: 180px;
  background-color: #B5D0E6;
}

header .jumbo-container {
  max-width: 1200px;
  height: 655px;
  margin: 0 auto;
}

header .jumbo-container h1 {
  font-size: 5.5rem;
  padding-bottom: 70px;
}

header .jumbo-container .jumbo-col-text {
  width: 33%;
  height: 460px;
  position: relative;
}

header .jumbo-container .jumbo-col-text .jumbo-sx-elm{
  padding-bottom: 30px;
  font-size: 1.1rem;
  font-weight: 300;
}

header .jumbo-container .jumbo-col-text a i {
  position: absolute;
  bottom: 120px;
  color: black;
  font-size: 50px;
}

header .jumbo-container .jumbo-col-img {
  width: 67%;
  position: relative;
}

header .jumbo-container .jumbo-col-img img {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}
/* FINE HEADER */

/* INIZIO MAIN */
main .main-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}

main .main-container h2 {
  font-size: 3rem;
  margin-bottom: 70px;
}

main .main-container .radio-bt {
  margin-bottom: 50px;
}

main .main-container .radio-bt span{
  margin-right: 50px;
}

main .main-container .radio-bt span input {
  margin-right: 5px;
}

main .main-container .row {
  max-width: 100%;
}

main .main-container .row .card-main {
  border: 1px solid rgba(0, 0, 0, .3);
  width: calc(100%/3);
  margin: 0 30px 0 0;
}

main .main-container .row .card-main:last-child{
 margin: 0;
}

main .main-container .row .card-main p{
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
  padding-top: 10px;
}

main .main-container .row .card-main p i {
  padding-right: 5px;
}

main .main-container .row .card-main .trial {
  padding: 40px 30px;
}

main .main-container .row .card-main .trial .pack h3 {
  font-size: 1.8rem;
  margin-bottom: 20px ;
}

main .main-container .row .card-main .trial .pack{
  text-align: left;
  font-weight: bold;
}

main .main-container .row .card-main .trial .pack div:last-child {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 20px;
}

main .main-container .row .card-main .service-list {
  margin-top: 55px;
  position: relative;
}

main .main-container .row .card-main .service-list ul li{
  padding-left: 25px;
}

main .main-container .row .card-main .service-list ul li {
margin-bottom: 5px;
}

main .main-container .row .card-main .trial .service-list ul li i {
  color: black;
  padding-right: 10px;
  position: absolute;
  left: 0;
}

main .main-container .row .card-main .trial .button  {
  margin-top: 60px;
}

main .main-container .row .card-main .trial .free {
  padding: 40px 0 30px 0;
}

main .main-container .row .card-main .trial .free a {
  text-decoration: underline;
}

main .main-container .row .card-main .trial .free a:hover {
  color: #0762FE;
}

main .main-container .row .card-main .trial .lineetta {
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

main .main-container .row .card-main .points {
  position: relative;
}

main .main-container .row .card-main .points h4 {
  padding: 40px 0 ;
}

main .main-container .row .card-main .points ul li {
  padding: 10px 25px;
}

main .main-container .row .card-main .points ul li i {
  color: #0762FE;
  padding-right: 10px;
  position: absolute;
  left: 0;
}

main .main-container .row-enter {
  position: relative;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, .3);
}

main .main-container .row-enter .card-main .team {
  text-align: center;
  padding: 10px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

main .main-container .row-enter .card-main .team i {
  color: black;
  margin-right: 5px;
}

main .main-container .row-enter .card-main .main-col-enter {
  width: 690px;
  padding: 30px 30px;
}

main .main-container .row-enter .card-main .main-col-enter h3 {
  font-size: 1.8rem;
  padding-bottom: 25px;
}

main .main-container .row-enter .card-main .main-col-enter .office{
  font-weight: bold;
  padding-bottom: 40px;
}

main .main-container .row-enter .card-main .main-col-enter .solution {
  font-size: 0.9rem;
}

main .main-container .row-enter .card-main .main-bt-office{
  position: absolute;
  right: 0;
  top: 70px;
  display: inline-block;
  width: calc(1000px - 699px);
  margin: 0;
}

main .main-container .row-enter .card-main .main-bt-office a {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

main .main-container .row-enter .card-main .main-bt-office a:hover {
  background-color: white;
  color: black;
}

main .row-img {
  padding-top: 150px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 170px;
}

main .row-img img {
  width: 60%;
}

main .row-img .main-col-text {
  padding: 50px;
}

main .row-img .main-col-text h3 {
  font-size: 1.2;
  line-height: 30px;
  margin-bottom: 25px;
}

main .row-img .main-col-text p {
  line-height: 20px;
  margin-bottom: 30px;
}

main .row-img .main-col-text a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
}

main .row-img .main-col-text a:hover {
  color: lightgrey;
  border: 1px solid lightgrey;
}

main .main-container .row-card {
  width: 1000px;
  height: 1000px;
  justify-content: space-between;
}

main .main-container .row-card .card {
  width: 300px;
  height: 490px;
}

main .main-container .row-card .card h3 {
  font-size: 1.3rem;
  line-height: 25px;
  margin: 20px 0 20px 0;
}

main .main-container .row-card .card p {
  line-height: 22px;
}

main .main-container .last-main-texts {
  width: 600px;
  height: 200px;
  margin-top: 110px;
  margin-bottom: 150px;
}

main .main-container .last-main-texts h3{
  font-size: 2.5rem;
  margin-bottom: 70px;
}

main .main-container .last-main-texts a {
  color: #0062FF;
}

main .main-container .last-main-texts a:hover {
  color: blueviolet;
}
/* FINE MAIN */


/* INIZIO FOOTER */
footer .footer-container {
  width: 100%;
  background-color: black;
}

footer .footer-container .row-foot {
  max-width: 1200px;
  max-height: 650px;
  margin: 0 auto;
}

footer .footer-container .row-foot .col-foot {
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 120px;
}

footer .footer-container .row-foot .col-foot ul h4{
  margin-bottom: 40px;
}

footer .footer-container .row-foot .col-foot ul h4:hover{
  border-bottom: 2px solid white;
}

footer .footer-container .row-foot .col-foot ul h4 a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

footer .footer-container .row-foot .col-foot ul li a{
  list-style: none;
  line-height: 40px;
  text-decoration: none;
  color: white;
}

footer .footer-container .row-foot .col-foot ul li a:hover{
  border-bottom: 1px solid white;
}

footer .footer-container .row-foot .lineetta {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

footer .footer-container .row-foot .col-foot-lang {
  color: rgba(255, 255, 255, .5);
  padding: 50px 0 50px 0;
}

footer .footer-container .row-foot .col-foot-lang a i{
  color: rgba(255, 255, 255, .5);
  padding-right: 5px;
}

/* FINE FOOTER */